.cart-container{
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.middle-content{
    display: flex;
    justify-content: center;
}
.checkout-button{
    background: red;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    margin: 20px;
    color: white;
}
.checkout-button:hover{
    background: rgb(184, 38, 33)
}

.checkout-botton-content{
    margin-top: 35px;
}