.side-receipt{
    width: 35vw;
    height: 40vh;
    /* border: 1px solid green;  */
    background: gainsboro;
    border-radius: 5px;
    margin-top: 3%;
    margin-left: 10%;
}

.set-sail{
    background: #781214;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    color: white;
    cursor: pointer;
}