/* .modal-form-container {
    margin: auto;
    width: 20vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 1;
}

.modal-form, .modal-form-large {
    width: 20vw;
    height: 30vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-form > label, .modal-form-large > label {
    font-size: 1.2em;
    margin: 2%;
} */

/* large forms require 5% margin */
/* .modal-form-large > input[type=text], .modal-form-large > input[type=password],
.modal-form-large > input[type=email] {
    margin-bottom: 5%;
} */

/* regular forms require 10% margin */
/* .modal-form > input[type=text], .modal-form > input[type=password],
.modal-form > input[type=email] {
    margin-bottom: 10%;
} */

/* regular size forms */
/* .modal-form > input[type=text], .modal-form > input[type=password],
.modal-form > input[type=email], */
/* large forms */
/* .modal-form-large > input[type=text], .modal-form-large > input[type=password],
.modal-form-large > input[type=email]
{
    height: 4vh;
    width: 15vw;
    
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    border-radius: 4px;
} */

/* .modal-form > input[type=text]:hover, .modal-form > input[type=password]:hover,
.modal-form > input[type=email]:hover,

.modal-form-large > input[type=text]:hover, .modal-form-large > input[type=password]:hover,
.modal-form-large > input[type=email]:hover
{
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
}

.modal-form > input[type=submit],
.modal-form-large > input[type=submit] {
    border-radius: 4px;
    color: white;
    background: #4d90fe;
    border: none;
    width: 10vw;
    height: 5vh;

    font-size: 1.2em;
} */

/* .modal-form > input[type=submit]:hover,
.modal-form-large > input[type=submit]:hover {
    cursor: pointer;
    background: #357ae8;
}

.modal-form-help {
    margin-top: 6%;
    font-size: 0.8em;
    color: #666666;
}

.modal-form-help > button {
    font-size: 1.2em;
    font-weight: 100;
    color: #666666;
    border: none;
    background: none;
}

.modal-form-help > button:hover {
    cursor: pointer;
    color: #807979;
} */