.nav-bar-container{
    width: 100vw;
    height: 50px;
    background:black;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-top: 15px;
    /* position: sticky;
    top: 0; */ 
}
.current_user{
    color: white;
    font-size: 18px;
}

.list-item{
    list-style: none;
}

.login-button{
    width: 85px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: #307267;
    color: white;
    padding: 5px;
    cursor: pointer;
    font-size: 18px;

}

.middle-content{
    height: 40vh;
    width: 100vw;
}

.main-logo{
    margin-left: 100%;
    width: 150px;
    height: 40px;
}
.main-nav{
    list-style: none;
    margin-right: 20px;
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a{
    color: white;
    text-decoration: none;
}
.main-nav li a:link, 
.main-nav li a:visited {
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

.fa-shopping-cart{
    color: white;
    font-size: 25px;
}

.fa-shopping-cart:hover {
    color: gainsboro;
}

.sign_out_button{
    width: 85px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: #307267;
    color: white;
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
}

.item-count{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: rgb(255, 78, 24);
    position: absolute;
    top: 14px;
    right: 0px;
    color: white;
   

}
.item-count1{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    position: relative;
    top: px;
    right: 0px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 13px;
    right: -4.5px;
}

.modal-logo{
    width: 30%;
    height: 30%;
    margin: 5%;
}

.dash-btn{
    border: none;
    background: orangered;
    font-size: 30px;
    border-radius: 50%;
    font-weight: bold;
    color: white;
    width: 40px;
    height: 40px;
}