*{
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.hero-img{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://s3.us-east-2.amazonaws.com/tortuga-slider/finishedHero2.png');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
}
/* wine_hero10 */
/* white_liqor2 */
/* main_liquor */

.main-heading{
    color: white;
    font-size: 200%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}
.hero-btn{
    text-align: center;
    padding: 10px 30px;
    border-radius: 5px;
    border:none;
}



.middle-mission-content{
   padding: 50px;
   margin-bottom: 50px;

}
.mission{
    text-align: center;
    margin-top: 40px;
    padding-bottom:30px;
   
}
.mission-rule{
    width: 60vw;
    margin: 0 auto;
    height: .5px;
    background-color: gainsboro;
}
.statement{
    text-align: center;
    padding-top: 20px;
    font-style: italic;
    font-size: 15px;
}

.featured-text{
    text-align: center;
    margin-bottom: 25px;
}
.featured-rule{
    margin: 0 auto;
    width: 60vw;
    background: black;
    margin-bottom: 20px;
    
}









/* STYLING FOR THE LOGIN COMPONENT:  */

/* .login-form{
    
    background-color: gainsboro;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    top: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    z-index: 1;
    position: fixed;
    transition: 1s;
}
   
.form-button{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: rgb(184, 20, 20);
    color: white;
    padding: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.form-logo{
    width:100px;
    height:100px;
}

.login-input{
    width: 200px;
    margin: 5px;
    height: 25px;
    border-radius: 5px;

    border: none;
}
#close{
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}
#close:hover,
#close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.hidden-modal{
    background-color: gainsboro;
    width: 0px;
    height: 0px;
    margin: 0 auto;
    top: 25%;
    border-radius: 40px;
    z-index: -1;
    position: fixed;
    transition: 1s;
}

.login-content{
    opacity: 1;
    align-items: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top:30px;
    justify-content: center;
    border-radius: 10px;
    z-index: 1;
    position: fixed;
    
}

.hide-content{
    opacity: 0;
} */







