/* the footer content */

.footer-container{
    width: 100vw;
    height: 30vh;
    background: gainsboro;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    padding-top: 20px;
    border-top: solid 10px black;
}
.social-content{
    display: flex;
    justify-content: space-evenly;
}
.fa-instagram, 
.fa-facebook,
.fa-twitter-square,
.fa-google-plus-square {
    font-size: 40px;
    margin: 5px;
}