.cart-card{
    width: 50%;
    height: 160px;
    background: white;
    border: 1px solid gainsboro;
    margin: 20px auto;
    border-radius: 5px;
    text-align: center;

    display: flex;
    justify-content: space-between;

}

.cart_rule{
    width: 50%;
    height: 1px;
    color: black;
    margin: 0 auto;
}
.total-text{
    text-align: center;
}
.cart-product-img{
    width: 100px;
    height: 147px;
    margin: 5px;
    padding-left: 20px;
}

.cart-card-content{
    margin: 25px;
    margin-right: 60px;
}
#remove-button{
    background: rgb(235, 15, 15);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 15px;
}

#remove-button:hover{
    background: rgb(173, 24, 24);
}