.contentTwo-container{
    display: flex;
    width: 100vw;
    background: white;
    margin-bottom: 30px;
    /* border-bottom: 1px solid black */
}

.text-containerTwo{
    width: 50vw;
    text-align: center;
    margin-top: 40px;
    font-family: 'Arimo', sans-serif
}

.content-img2{
    width: 50vw;
    background:white; 
    
}

.product-shot{
   width: 50%; 
}